src/secrets.json
.venv
src/static/admin
src/static/landingpage/pdf/902-notes.pdf
src/static/landingpage/pdf/901-notes.pdf
src/landingpage/migrations
src/landingpage/__init__.py
src/personalsite/__init__.py
/secrets.json
src/static/landingpage/imgs/Logo.png
src/static/landingpage/imgs/logo.png
src/landingapge/__pycache__
src/personalsite/__pycache__

.idea/workspace.xml
