<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "analytics.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
{% include "header.html" %}

{% block content %}
{% endblock %}

{% include "footer.html" %}                       

<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/footer.js' %}"></script>       
</body>
</html>


