<!DOCTYPE html>

<html lang="en" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="shortcut icon" href="/static/landingpage/imgs/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/landingpage/css/ecommerce.css" type="text/css">

<title>Abdinasir Noor</title>
<body>

<!--Main Navigation-->
<div class="container-fluid px-1 border border-5 border-black">
  <nav class="nav navbar-expand-lg nav justify-content-between p-1 m-0">
            <div class="nav nav-brand col-2">
              <a href="{%url 'project' %}" style="color:black;"><h1>A\N</h1>
            </div>
            <div class="row col-3 mr-lg-5">
              <div class="nav nav-item col p-2">
                <a class="btn btn-default nav-link" href="/">Login</a>
              </div>
              <div class="nav nav-item col p-2">
                <a class="btn btn-primary nav-link" href="/">Sign up</a>
              </div>
            </div>
            <div class="row m-0">
              <a class="nav-link nav-item" href="{%url 'Cart_view' %}">
                <h4 class="d-inline-block align-top">
                    <span class="badge badge-dark" id="cart_count">
                      {{cart_count}}
                    </span>
                  </h4>
                <i class="fas fa-shopping-cart fa-2x" style="color:black;"></i></a>
            </div>
      </nav>
</div>
<!-- End Navigation -->

<!-- topline links-->
<div class="container-fluid p-0 p-lg-3 mt-3">
  <div class="row m-0 toplineWrapper">
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">New Arrivals</h2>
              <h2 class="card-text"> &#x1F69A;</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">Last chance</h2>
              <h2 class="card-text">&#x26A1;</h2>
            </div>
          </div>
        </a>
     </div>
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">Upcoming</h2>
              <h2 class="card-text">&#x1F64C;</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">Staff picks</h2>
              <h2 class="card-text"> &#x1F44F;</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>
<!-- End of topline links -->



<!-- Products -->
{%for item in products%}
<div class="col-sm m-3">
  <h5>{{item.product_name}}</h5>
  <h5 class="m-1">{{item.price}} <i class="fas fa-dollar-sign"></i></h5>
  <img src="/media_product/{{item.image}}" alt="Card image cap" class="img-fluid productPhoto">
  <h5 class="m-1 mb-3">Avaliable still? {{item.available}}</h5>
  <!-- <h4>{{product_numbers}}</h4> -->
{%endfor%}
{%for numbs in product_numbers%}
  <h5>Qauntity: </h5><h1>{{numbs}}</h1>
{%endfor%}
{%for items in merged_item%}
<p>{{items}}</p>
{%endfor%}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/static/landingpage/js/ecommerce.js"></script>
</body>
</html>
