<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    {% include "landingpage/analytics.html" %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
      <link rel="shortcut icon" href="{% static "/landingpage/imgs/logo.ico" %}" type="image/x-icon">
     <link rel="stylesheet" href="{% static "/landingpage/css/index.css" %}" type="text/css">
      <title>Abdinasir Noor</title>
<body>
  <!--Main Navigation-->
    <header>
      <nav class="nav navbar-expand-md shadow-lg fixed-top bg-light container">
              <img src="{% static "/landingpage/imgs/logo.png" %}" height="60" class="ml-2">
              <span class="navbar-brand ml-2 mt-1 h1">Abdinasir Noor</span>
              <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="fas fa-bars"></span>
              </button>
               <div class="collapse navbar-collapse" id="navbar">
                  <ul class="nav nav-pills container">
                    <li class="nav-item mt-2 ml-md-auto"><a class="nav-link active bg-danger" href="/" id="Home">Home</a></li>
                    <li class="nav-item mt-2"><a class="nav-link" href="/blog" id="Blog">Blog</a></li>
                    <!-- <li class="nav-item mt-2"><a class="nav-link" href="#contactMe" id="Contact">Contact</a></li> -->
                  </ul>
              </div>
      </nav>
    </header>
  <!--End Main Navigation-->
  <div class="mt-5 pt-5 container-fluid">
    <div class="row">
    <h1 class="alert alert-danger col">Message Failed! Working on solving this error!</h1>
    </div>
    <div class="row">
    <p class="lead txt p-5">In the meantime, please email me at <a href="mailto:abdinasirnoor@outlook.com" class="btn btn-primary p-2">
      Abdinasirnoor@outlook.com</a></p>
    </div>
  </div>
  <!-- <div class="container mx-auto p-4 bg-light mb-2">
    <form action="{% url 'contacted' %}" method="post">
      <input type="hidden" name="next" value="{{ request.path }}">
      {% csrf_token %}
      {{form}}
    <div class="form-row mt-2">
      <button class="fas fa-paper-plane btn btn-primary w-50" input-type="submit"> Submit</button>
    </div>
  </form>
  </div> -->
  <div class="container">
    <footer class="text-center">Abdinasir Noor	&copy; 2018</footer>
  </div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>
