<header class="reverseContainerAnimation">
    <h2 id= "name">Abdinasir Noor</h2>
    <div id="menu">
        <button id="menuContainer">
            <svg id="nightContainer" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="29.8378" cy="33.561" rx="29.8378" ry="30.439" fill="black"/>
                <ellipse cx="37.3333" cy="25.5" rx="26.6667" ry="25.5" fill="white"/>
                <rect x="25.2121" y="25.8333" width="20" height="2.33333" fill="black"/>
                <rect x="25.2121" y="31.6667" width="20" height="2.33333" fill="black"/>
                <rect x="25.2121" y="20" width="20" height="2.33333" fill="black"/>
            </svg>                 
            <svg id="sunContainer" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="32" cy="32" r="32" fill="#EC8711"/>
                <ellipse cx="32" cy="32" rx="29" ry="28" fill="#FFA800"/>
                <ellipse cx="32" cy="32" rx="24" ry="23" fill="#FFD600"/>
                <circle cx="32" cy="33" r="17" fill="white"/>
                <line x1="25" y1="25" x2="41" y2="41" stroke="black" stroke-width="3"/>
                <line x1="24" y1="41" x2="40" y2="26" stroke="black" stroke-width="3"/>
            </svg>
        </button>
         <nav id="links">
            <ul id="linkContainer">
                <li class="linkButton"><span class="buttonDesign"><a href="#home">Home</a></span></li>
                <li class="linkButton"><span class="buttonDesign"><a href="#about">About</a></span></li>
                <li class="linkButton"><span class="buttonDesign"><a href="#contact">Contact</a></span></li>
            </ul>    
         </nav>   
    </div>
</header>