<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    {% include "landingpage/analytics.html" %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
      <link rel="shortcut icon" href="{% static "/landingpage/imgs/logo.ico" %}" type="image/x-icon">
     <link rel="stylesheet" href="{% static "/landingpage/css/index.css" %}" type="text/css">
      <title>Abdinasir Noor</title>
<body>
  {% if messages %}
    {% for message in messages %}
    <div class="modal fade col" id="contactedModal" role="dialog" aria-labelledby="contactedModalLabel" aria-hidden="false" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="m-0 font-weight-normal">Contact</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body alert alert-success fade show p-3 mb-1" role="alert">
              <h1 class="text-center">Message sent successfully!</h1>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
{% endif %}
  <div class="container-fluid fixed-bottom p-0">
  <div class="alert alert-primary alert-dismissible  m-0 p-2 fade show" role="alert" style="font-size: 1.15rem;">
    <button class="close fas fa-times-circle mt-1" data-dismiss="alert" aria-label="close"></button>
     <p class="m-0 p-1 text-md-center mr-5">I have implemented a new <a href="/privacy">privacy policy</a> as of <em>12/18/18</em></p>
  </div>
</div>
  <!--Main Navigation-->
    <header>
      <nav class="nav navbar-expand-md shadow-lg fixed-top bg-light container">
              <img src="{% static "/landingpage/imgs/logo.png" %}" height="60" class="ml-2">
              <span class="navbar-brand ml-2 mt-1 h1">Abdinasir Noor</span>
              <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="fas fa-bars"></span>
              </button>
               <div class="collapse navbar-collapse" id="navbar">
                  <ul class="nav nav-pills container">
                    <li class="nav-item mt-2 ml-md-auto"><a class="nav-link active bg-danger" href="/" id="Home">Home</a></li>
                    <li class="nav-item mt-2"><a class="nav-link" href="/blog" id="Blog">Blog</a></li>
                  </ul>
              </div>
      </nav>
    </header>
  <!--End Main Navigation-->
    <div class="jumbotron p-0 m-0 bg-light">
      <img src="{% static "/landingpage/imgs/maine-portland.jpg" %}" class="img-fluid">
    </div>
    <h1 class="display-4 text-center" id="splash_text">Tech Enthusiast</h1>
    {% for post in splash_posts %}
      <div class="container p-3">
            <h2>{{post.splash_heading}}</h2>
            <h4 class="p-2 p-height font-weight-normal">{{post.splash_text}}</h4>
      </div>
       {% endfor %}
    <!-- <div class="fluid-container">
      Blog
    </div> -->
{% include "landingpage/contact_widget.html" %}

<footer class="container mt-5 pb-3">
      <p class="text-center mb-5">Abdinasir Noor	© 2018</p>
  </footer>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script>
  $('#contactedModal').modal('show')
  </script>
    <!-- JS -->
  <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
  <script>
   grecaptcha.ready(function() {
       grecaptcha.execute('6Le8zKYUAAAAAAg-is726fx3HwSImmNty0d3NWIm', {action: 'contactForm'}).then(function(token) {
           document.getElementById("contactForm").appendChild(document.CreateElement(`<input type="hidden" name="g-recaptcha-response aria-hidden="true" value=${token}`));
       });
   });
   </script>
  <script src="{% static "landingpage/js/index.js" %}" defer=""></script>
        </body>
</html>
