<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    {% include "landingpage/analytics.html" %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
      <link rel="shortcut icon" href="{% static "/landingpage/imgs/logo.ico" %}" type="image/x-icon">
     <!-- <link rel="stylesheet" href="{% static "/landingpage/css/product_view.css" %}" type="text/css"> -->
      <title>Abdinasir Noor</title>
<body>
  <!--Main Navigation-->
  <div class="container-fluid px-1 border border-5 border-black">
    <nav class="nav navbar-expand-lg nav justify-content-between p-1 m-0">
              <div class="nav nav-brand col-2">
                <h1>A\N</h1>
              </div>
              <div class="row col-3 mr-lg-5">
                <div class="nav nav-item col p-2">
                  <a class="btn btn-default nav-link" href="/">Login</a>
                </div>
                <div class="nav nav-item col p-2">
                  <a class="btn btn-primary nav-link" href="/">Sign up</a>
                </div>
              </div>
              <div class="row m-0">
                <a class="nav-link nav-item" href="/"><i class="fas fa-shopping-cart fa-2x" style="color:black;"></i></a>
              </div>
        </nav>
  </div>
  <!-- End Navigation -->

  <!-- topline links-->
  <div class="container-fluid p-0 p-lg-3 mt-3">
    <div class="row m-0 toplineWrapper">
        <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
          <a href="/">
            <div class="card text-white">
              <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
              <div class="card-img-overlay p-4 p-lg-0">
                <h2 class="card-title overlay-title">New Arrivals</h2>
                <h2 class="card-text"> &#x1F69A;</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
          <a href="/">
            <div class="card text-white">
              <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
              <div class="card-img-overlay p-4 p-lg-0">
                <h2 class="card-title overlay-title">Last chance</h2>
                <h2 class="card-text">&#x26A1;</h2>
              </div>
            </div>
          </a>
       </div>
        <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
          <a href="/">
            <div class="card text-white">
              <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
              <div class="card-img-overlay p-4 p-lg-0">
                <h2 class="card-title overlay-title">Upcoming</h2>
                <h2 class="card-text">&#x1F64C;</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
          <a href="/">
            <div class="card text-white">
              <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
              <div class="card-img-overlay p-4 p-lg-0">
                <h2 class="card-title overlay-title">Staff picks</h2>
                <h2 class="card-text"> &#x1F44F;</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
  </div>
  <!-- End of topline links -->
  <div class="container">
    <h1>{{product.query.product_name}}</h1>
    <img src="/media_product/{{product.query.image}}" height="50%" width="50%">
    <h1>{{product.query.price}}</h1>
    <p>{{product.query.description}}</p>
    <div class="row">
      {%for data in product.query_image%}
      <img src="/media_product/{{data.product_images}}" height="50%" width="50%">
      {%endfor%}
      </div>
    </div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>
