<!DOCTYPE html>

<html lang="en" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="shortcut icon" href="/static/landingpage/imgs/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/landingpage/css/ecommerce.css" type="text/css">

<title>Abdinasir Noor</title>
<body>
<!-- Hot right now -->
<div  class="alert alert-dismissible fade show p-0 border-0 fade-in" role="alert">
  <div class="container-fluid p-0 mb-xl-2 bg-primary">
      <div class="container-fluid p-0">
        <div class="container-fluid pt-2 m-0 text-right mb-md-4 mb-xl-5">
          <button type="button" class="btn btn-primary fas fa-window-close fa-2x p-1" data-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="row pt-3 m-0">
          <h4 class="text-center bg-white py-1 m-0 col" style="transform: skewY(-3deg);">A\N Fashionably Amazing prices</h4>
          </div>
        <div class="row p-0 m-0">
          <div class="container-fluid p-0 text-center">
              <div class="container">
                  <h4 class="ml-2 mt-2 col" style="color:white;">&#x1F525; right now: </h4>
              </div>
              <div class="row m-0 ml-md-3 ml-lg-5 justify-content-center">
                    <div class="container bg-white col-8 col-sm-6 col-md-3 m-2 p-1">
                      <div class="row m-0 justify-content-center">
                        <img src="https://images.unsplash.com/photo-1541597455068-49e3562bdfa4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=635&amp;q=80" alt="Card image cap" class="col p-2 hotPhoto">
                      </div>
                      <h4 class="m-0">39.99 <i class="fas fa-dollar-sign"></i></h4>
                      <h5 class="m-0">Item Rank: 5 <i class="fas fa-caret-down bottomPosition text-danger"></i></h5>
                      <h5 class="m-0">465 Orders <i class="fas fa-box-open"></i></h5>
                    </div>
                    <div class="container bg-white col-8 col-sm-6 col-md-3 m-2 p-1">
                      <div class="row m-0 justify-content-center">
                        <img src="https://images.unsplash.com/photo-1512374382149-233c42b6a83b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=635&amp;q=80" alt="Card image cap" class="col p-2 hotPhoto">
                      </div>
                      <h4 class="m-0">124.99 <i class="fas fa-dollar-sign"></i></h4>
                      <h5 class="m-0">Item Rank: 3 <i class="fas fa-caret-up bottomPosition text-success"></i></h5>
                      <h5 class="m-0">59 Orders <i class="fas fa-box-open"></i></h5>
                    </div>
                    <div class="container bg-white col-8 col-sm-6 col-md-3 m-2 p-1">
                      <div class="row m-0 justify-content-center">
                        <img src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80" alt="Card image cap" class="col p-2 hotPhoto">
                      </div>
                      <h4 class="m-0">94.99 <i class="fas fa-dollar-sign"></i></h4>
                      <h5 class="m-0">Item Rank: 25 <i class="fas fa-caret-up bottomPosition text-success"></i></h5>
                      <h5 class="m-0">12 Orders <i class="fas fa-box-open"></i></h5>
                    </div>
                </div>
        </div>
          </div>
        </div>
    </div>
  </div>
<!-- End Hot right now -->

<!--Main Navigation-->
<div class="container-fluid px-1 border border-5 border-black">
  <nav class="nav navbar-expand-lg nav justify-content-between p-1 m-0">
            <div class="nav nav-brand col-2">
              <a href="{%url 'project' %}" style="color:black;"><h1>A\N</h1></a>
            </div>
            <div class="row col-3 mr-lg-5">
              <div class="nav nav-item col p-2">
                <a class="btn btn-default nav-link" href="/">Login</a>
              </div>
              <div class="nav nav-item col p-2">
                <a class="btn btn-primary nav-link" href="/">Sign up</a>
              </div>
            </div>
            <div class="row m-0">
              <a class="nav-link nav-item" href="{% url 'Cart_view' %}">
                <h4 class="d-inline-block align-top"><span class="badge badge-dark" id="cart_count">{{cart}}</span></h4>
                <i class="fas fa-shopping-cart fa-2x" style="color:black;"></i></a>
            </div>
      </nav>
</div>
<!-- End Navigation -->

<!-- topline links-->
<div class="container-fluid p-0 p-lg-3 mt-3">
  <div class="row m-0 toplineWrapper">
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">New Arrivals</h2>
              <h2 class="card-text"> &#x1F69A;</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">Last chance</h2>
              <h2 class="card-text">&#x26A1;</h2>
            </div>
          </div>
        </a>
     </div>
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">Upcoming</h2>
              <h2 class="card-text">&#x1F64C;</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-5 col-sm-5 col-md-3 col-xl-2 text-center mb-3 p-1 p-sm-4 p-md-1 p-lg-3">
        <a href="/">
          <div class="card text-white">
            <img class="card-img" src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image">
            <div class="card-img-overlay p-4 p-lg-0">
              <h2 class="card-title overlay-title">Staff picks</h2>
              <h2 class="card-text"> &#x1F44F;</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>
<!-- End of topline links -->



<!-- Products -->
<div class="container-fluid">
  <div class="row m-0 pt-4 justify-content-center text-center border">
    {%for item in products%}
    <div class="col-sm m-3">
      <h5 class="text-center">{{item.product_name}}</h5>
        <img src="/media_product/{{item.image}}" alt="Card image cap" class="img-fluid productPhoto">
        <h5 class="m-1 text-center">{{item.price}} <i class="fas fa-dollar-sign"></i></h5>
        <div class="container-fluid">
          <div class="row">
              <div class="col m-0">
                <a href="product/{{item.slug}}"><button type="button" class="btn btn-primary">View product</button></a>
              </div>
          </div>
          <form method='POST'>
          {%csrf_token%}
          <div class="row">
            <div class="col m-2">
                <input type="hidden" id="url_link" value="{% url 'Push_to_cart' item.pk %}">
                <!-- <input type="hidden" name = "product_foreign" value="{{item.pk}}"> -->
                <i class="fas fa-caret-square-up fa-2x align-text-bottom spinnerIncrease"></i>
                <input type="number" min="1" max="{{item.stock}}" class="align-bottom form-control w-25 quantityResponsive d-inline-block text-center mx-2 quantityInput" value="1" required name = "quantity_of_product">
                <i class="fas fa-caret-square-down fa-2x align-text-bottom spinnerDecrease"></i>
            </div>
          </div>
          <div class="row">
              <div class="col m-0">
                <button type="submit" class="btn btn-success" input-type="submit">Add to cart</button>
              </div>
          </div>
        </form>
        </div>
      </div>
        {%endfor%}
    <!-- <div class="col-sm m-3">
      <h5 class="text-center">Product title</h5>
      <img src="https://images.unsplash.com/photo-1517466670430-6549c3f4d5d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80" alt="Card image cap" class="img-fluid productPhoto">
      <h5 class="m-1 text-center">124.99 <i class="fas fa-dollar-sign"></i></h5>
      <div class="container-fluid">
        <div class="row">
            <div class="col m-0">
              <button type="button" class="btn btn-primary">View product</button>
            </div>
        </div>
        <div class="row">
          <div class="col m-2">
              <i class="fas fa-caret-square-up fa-2x align-text-bottom spinnerIncrease"></i>
              <input type="number" min="1" max="100" class="align-bottom form-control w-25 quantityResponsive d-inline-block text-center mx-2 quantityInput" value="1" required>
              <i class="fas fa-caret-square-down fa-2x align-text-bottom spinnerDecrease"></i>
          </div>
        </div>
        <div class="row">
            <div class="col m-0">
              <button type="button" class="btn btn-success">Add to cart</button>
            </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/static/landingpage/js/ecommerce.js"></script>
</body>
</html>
